{% extends 'layout.html' %}{% block content %}{% load static %}
<header class="row" id="header">
    <div class="col-md-4">
        <center><img src="{% static "portfolio/foto_portafolio.jfif" %}" alt="" width="250" heigh="250" id="foto"></center>
    </div>
    <div class="col-md-8 my-auto">
        <h4>I am <strong>Evander Ramírez</strong></h4>
        <h5>I am a Python/Django Full Stack Developer</h5>
        <p>Hello, I am passionate about technology and constant innovation. This is my portfolio where you will find information about me, projects and my personal blog</p>
    </div>
</header>
<div class="row my-4 text-center">
    <h3>My Projects:</h3>
    <p>In order to show my technical skills, I will show you my projects and the technologies I use to create them.</p>
    {% for project in projects %}
        <div class="col-md-4">
           <div class="card bg-black card_project">
                <div class="card-body">
                    <h1>{{project.title}}</h1>
                    <p>{{project.description}}</p>
                    <img src="{{project.image.url}}" alt="{{project.title}}" width="400" heigh="200" class="card-img"> <br>
                    {% if project.url %}
                    <a href="{{project.url}}">{{project.url}}</a>
                    {% endif %}
                </div>
           </div>
        </div> 
    {% endfor %}
{% endblock content %}
</div>